@model IEnumerable<ServiceApresVente.Models.Reclamation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Client"))
{
<a asp-action="Create">Create New</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Article</th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReclamation)
            </th>
             @*<th>
                 @Html.DisplayNameFor(model => model.Article)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@item.Article?.Reference</td>
                <td>@item.Article?.Nom</td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReclamation)
            </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ArticleId)
            </td>*@
            <td>
                    @if (User.IsInRole("Client"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        @if(item.Statut==ServiceApresVente.Models.StatutReclamation.EnAttente){
                            <a asp-action="EditForResponsable" asp-route-id="@item.Id">Edit</a>
                        }
                        else{
                            <a asp-action="GetInterventionByReclamationId" asp-route-id="@item.Id">Intervensions</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

                
            </td>
        </tr>
}
    </tbody>
</table>
