@model ServiceApresVente.Models.Article

@{
    ViewData["Title"] = "Suppression";
}

<div class="container mt-4">
    <h1 class="mb-4">Suppression d'article</h1>

    <h3>Êtes-vous sûr de vouloir supprimer cet article ?</h3>

    <div>
        <h4>Article</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Reference)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Reference)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DateAchat)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DateAchat)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DureeGarantie)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DureeGarantie)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.User.Id)
            </dd>
        </dl>

        <form asp-action="Delete" class="mt-3">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Supprimer</button> |
            <a asp-action="Index" class="btn btn-secondary">Retourner à la liste</a>
        </form>
    </div>
</div>
