@model ServiceApresVente.Models.Article

@{
    ViewData["Title"] = "Détails";
}

<div class="container mt-4">
    <h1 class="mb-4">Détails de l'article</h1>

    <h4>Article</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateAchat)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateAchat)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DureeGarantie)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DureeGarantie)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Modifier</a> |
        <a asp-action="Index" class="btn btn-secondary">Retourner à la liste</a>
    </div>
</div>
