@model ServiceApresVente.Models.PieceDeRechange

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h3>Supprimer la Pièce de Rechange</h3>
        </div>
        <div class="card-body">
            <h4>Êtes-vous sûr de vouloir supprimer cette pièce ?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nom)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reference)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reference)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Prix)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Prix)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                    <a asp-action="Index" class="btn btn-secondary">Retourner à la liste</a>
                </div>
            </form>
        </div>
    </div>
</div>
