@model ServiceApresVente.Models.PieceDeRechange

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h3>Détails de la Pièce de Rechange</h3>
        </div>
        <div class="card-body">
            <h4>Informations de la Pièce</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nom)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reference)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reference)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Prix)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Prix)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Modifier</a> |
        <a asp-action="Index" class="btn btn-secondary">Retourner à la liste</a>
    </div>
</div>
