@model IEnumerable<ServiceApresVente.Models.Intervention>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Technicien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIntervention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstSousGarantie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutMainOeuvre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Technicien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIntervention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstSousGarantie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutMainOeuvre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reclamation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
