@model IEnumerable<ServiceApresVente.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DureeGarantie)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAchat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DureeGarantie)
                </td>

                <td>
                    <a asp-action="Reclamer" asp-route-id="@item.Id">Reclamer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
